@model  ProductViewModels
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/system/placeholder-image.png";
}

<div class="container">
    <h2>Create Product</h2>
    <hr />
    <form id="createProduct">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Category</label>
                    <select name="CategoryId" class="form-control">
                        @foreach (var category in Model.AvailableCategories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input name="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input name="Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input name="Price" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Image</label>
                    <input type="hidden" id="ImageURL" name="ImageURL" />
                    <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="form-control btn btn-danger" type="button" id="saveBtn">Save</button>
            </div>
            <div class="col-md-4">
                <button class="form-control btn btn-danger" type="button" id="cancelBtn">Cancel</button>
            </div>
        </div>
    </form>
</div>

@*Usin Ajax to save Image*@
<script>
	$("#imageUpload").change(function () {
		var element = this;
		var formData = new FormData();
		var totalFiles = element.files.length;
		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}
		$.ajax({
			type: 'POST',
			url: '@Url.Action("UploadImage", "Shared")',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
        .done(function (response) {
        	console.log(response);
        	if (response.Success) {
        		$("#ImageURL").val(response.ImageURL);
        		$("#productImage").attr("src", response.ImageURL);
        	}
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
    });
</script>

<script>
    $("#createProduct").validate({
        rules: {
            Name: {
                required: true,
                minlength: 4,
                maxlength: 50
            },
            Description: {
                maxlength: 500
            },
            Price: {
                required: true,
                range: [1, 10000000]
            }     
        },
        messages: {
            Name: {
                required: "Name is required",
                minlength: "Minlength is 4",
                maxlength: "Maxlength is 50"
            },
            Description: {
                maxlenght: "Maxlength is 500"
            },
            Price: {
                required: "Price is Required",
                range:"Price must be with in range of 1 - 10000000"
            }
        }
    });
</script>

@*Usin Ajax to save data*@
<script>
    $("#saveBtn").click(function () {
        if ($("#createProduct").valid()) {

            $.ajax({
                type: "Post",
                url: "/Product/Create",
                data: $("#createProduct").serialize()
            })
                .done(function (resposen) {
                    $("#tableContiner").html(resposen);
                    $("#actionContainer").html("");
                    focusAction("tableContiner");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Warning",
                        text: "Please enter all requred fielsd !",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                });
        }
        else {
            swal({
                title: "Warning",
                text: "Please enter all valid data in this fielsd !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        }

    });
</script>

<script>
    $("#cancelBtn").click(function () {

        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
</script>