
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/system/placeholder-image.png";
}

    <div class="container">

        <h2>Create</h2>
        <hr />
        <form id="createCategory">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Name<span class="text-danger">*</span></label>
                        <input class="form-control" name="Name" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="Description" />
                    </div>
                    <div class="form-group">
                        <label> Image</label>
                        <input id="ImageURL" name="ImageURL" type="hidden" />
                        <input class="form-control" id="imageUplode" name="image" type="file" accept=" .png , .jpg" />
                    </div>
                    <div class="form-group">
                        <label>Is Featured ?</label>
                        <div class="input-group">
                            <div class="radio form-control">
                                <label>
                                    <input type="radio" name="isFeatured" value="True" />True
                                </label>
                            </div>
                            <div class="radio form-control">
                                <label>
                                    <input type="radio" name="isFeatured" value="False" />False
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <img class="img-thumbnail img-fluid" id="categoryImage" src="@imageURL" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="form-control btn btn-danger" type="button" id="saveBtn">Save</button>
                </div>
                <div class="col-md-4">
                    <button class="form-control btn btn-danger" type="button" id="cancelBtn">Cancel</button>
                </div>
            </div>

        </form>
    </div>


@*uplode Mulitiple/Single Image*@
<script>
    $("#imageUplode").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "Post",
            url: "@Url.Action("UploadImage", "Shared")", //"/Shared/UploadImage",
            data: formData,
            dataType: "Json",
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success == true) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL);
                }
            })
            .file(function (XMLHttpRequest, textStatus, erroThrown) {
                alert("Fail");
            });
    });
</script>

<script>
    $("#createCategory").validate({
        rules: {
            Name: {
                required: true,
                minlength: 4,
                maxlength: 50
            },
            Description: {
                maxlength: 500
            }
        },
        messages: {
            Name: {
                required: "Name is required",
                minlength: "Minlength is 4",
                maxlength:"Maxlength is 50"
            },
            Description: {
                maxlenght:"Maxlength is 500"
            }
        }
    });
</script>

<script>
    $("#saveBtn").click(function () {
        if ($("#createCategory").valid()) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("Create", "Category")", //'/Category/Create',
                data: $("#createCategory").serialize()
            })
                .done(function (response) {
                    $("#tableContiner").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContiner");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Warning",
                        text: "Please enter all requred fielsd !",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                });
        }
        else {
            swal({
                title: " JS Warning",
                text: "Please enter all valid data in this fielsd !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        }
    });
</script>

<script>
    $("#cancelBtn").click(function () {

        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
</script>