@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Category </h2>
<h1>Are You Sure You Want To Delete This Category</h1>
<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit">Delete</button>
</form>
<a href="/Index">Cancel</a>